# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/pg-flux
bin/
dist/

# Test
*.test
profile.out
*.cpu

# Coverage / profiling output
*.out
*.coverprofile
coverage.html

# Editor / OS
.idea/
.vscode/
*.swp
.DS_Store
.env
.env.*
